/**
 * Here you can style each individual button. You need to define style classes
 * ".minimize", ".maximize" and ".close".
 * You can additionally define styles for the :hover and :active pseudo classes
 * if you wish.
 * See the 'Radiance' style.css for an example of this.
 */
/* Style for the minimize button */
.minimize {
	background-image: url('titlebutton-min.png');
}

.minimize:hover {
	background-image: url('titlebutton-min-hover.png');
}

/* Style for the maximize button */
.restore {
	background-image: url('titlebutton-max.png');
}

.restore:hover {
	background-image: url('titlebutton-max-hover.png');
}

/* Style for the close button */
.close {
	background-image: url('titlebutton-close.png');
}

.close:hover {
	background-image: url('titlebutton-close-hover.png');
}
